body {
    background-color: burlywood;
}

.navigation {
    background-color: rgb(253, 242, 208);
}

.icone-nav {
    padding-top: 1rem;
    padding-right: 2.5rem;
}

.produit {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.encart-art {
    text-align: center;
    border: 0.6rem rgb(253, 242, 208) solid;
    border-radius: 0.5rem;
}

.teddy-img {
    border-radius: 1.5rem;
    margin-top: 2rem;
}


